body {
  background-color: #333;
}

#jamjump {

  /*
  border: 2px solid white;
  width: 1920px;
  */

  margin-left: auto;
  margin-right: auto;
  cursor: pointer;


}

label {
  display: inline-block;
  width: 75px;
}

button {
  border-radius:5px;
  background:#777;
  color:#eee;
  border-color:#333;
}
